Firma má kanceláře v Praze, Plzni a Liberci.

In [10]:
import pandas as pd

liberec = pd.read_csv ("zam_liberec.csv") 
plzen = pd.read_csv ("zam_plzeň.csv")
praha = pd.read_csv ("zam_praha.csv")

liberec.head()
#plzen.head()
#praha.head()

       jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0       Nela      Šťastná       728 454 176                 83
1    Heather      Marková       604 404 522                 84
2     Krista  Procházková  +421 50 444 5544                 85
3   Jennifer        Brown       775 545 190                 86
4  Ladislava    Blackwell  +421 913 487 200                 87

Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [11]:
praha['mesto'] = 'V Praze'
plzen['mesto'] = 'V Plzňi'
liberec['mesto'] = 'V Liberci'

A ted' zkontrolujeme nový sloupec "město" v Praze, Liberci a Plzni

In [12]:
praha.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0     Brian      Hall  +421 949 656 098                 30  V Praze
1     Marta  Kolářová       730 456 163                 32  V Praze
2      John   Moravec       725 092 179                 33  V Praze
3  Dominika   Kopecká       722 747 626                 34  V Praze
4    Marcel     Hájek  +421 902 928 669                 35  V Praze

In [13]:
plzen.head()

      jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0     Stacy  Pospíšilová       727 293 880                  3  V Plzňi
1     Matěj         Král       770 787 377                  6  V Plzňi
2    Amanda       Wilson  +421 52 656 7231                  7  V Plzňi
3     Angel       Wilson  +421 52 135 2491                  8  V Plzňi
4  Jindřich       Howell  +421 39 043 0948                 10  V Plzňi

In [14]:
praha.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0     Brian      Hall  +421 949 656 098                 30  V Praze
1     Marta  Kolářová       730 456 163                 32  V Praze
2      John   Moravec       725 092 179                 33  V Praze
3  Dominika   Kopecká       722 747 626                 34  V Praze
4    Marcel     Hájek  +421 902 928 669                 35  V Praze

Vytvoř novou tabulku 'zamestnanci' pomocí pd.concat

In [15]:

zamestnanci = pd.concat([praha, plzen, liberec], ignore_index=True)

# Zobraz prvních pár řádků nové tabulky pro kontrolu
zamestnanci.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0     Brian      Hall  +421 949 656 098                 30  V Praze
1     Marta  Kolářová       730 456 163                 32  V Praze
2      John   Moravec       725 092 179                 33  V Praze
3  Dominika   Kopecká       722 747 626                 34  V Praze
4    Marcel     Hájek  +421 902 928 669                 35  V Praze

Takto už nám vznikla pěkná vyčištěná tabulka. Uložme si ji do CSV

In [16]:
zamestnanci.to_csv('zamestnanci_novy_file.csv', index=False)

Ze souboru "platy_2021_02.csv" načti platy zaměstnanců za únor 2021. 
Propoj tabulku (operace join) s platy a tabulku 
se zaměstnanci pomocí sloupce "cislo_zamestnance"

In [17]:
platy = pd.read_csv('platy_2021_02.csv')

In [19]:
zamestnanci_s_platy = pd.merge(zamestnanci, platy, on='cislo_zamestnance', how='inner')
zamestnanci_s_platy.head()

      jmeno  prijimeni   telefonni_cislo  cislo_zamestnance    mesto     plat
0     Brian       Hall  +421 949 656 098                 30  V Praze  33500.0
1     Marta   Kolářová       730 456 163                 32  V Praze  53000.0
2      John    Moravec       725 092 179                 33  V Praze  38400.0
3  Dominika    Kopecká       722 747 626                 34  V Praze  36800.0
4    Milada  Hernandez       773 373 704                 38  V Praze  32600.0

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, 
znamená to, že v naší firmě již nepracuje.

In [20]:
zamestnanci.shape #Rozměry tabulek před spojením
platy.shape

(43, 2)

In [30]:
zamestnanci_s_platy.shape  #Rozměry tabulky po spojení

(43, 6)

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích

In [35]:
zamestnanci_s_platy.groupby("mesto")["platy_2021_02"].mean()

#kod podle lekci:    maturita_se_jmeny_predsedajicimi.groupby("predmet")["znamka"].median()

KeyError: 'Column not found: platy_2021_02'

Část 2

Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech 
na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.
Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [37]:
vykazy = pd.read_csv('vykazy.csv')
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

In [38]:
celkove_hodiny_projekty = vykazy.groupby('projekt')['hodiny'].sum()
celkove_hodiny_projekty

KeyError: 'projekt'